body {
  background: #ECF0F5;
}
select  {
  background: #fff;
}

.sidebar-menu>li>a>.fa {
    font-size: 20px;
    float: left;
}
.sidebar-menu li>a {
    font-size: 14px;
}
.sidebar-menu li>a>span{
    display: inline-block;
    margin-left: 10px;
}

/** form with padding **/
.has-padding {
    padding: 0px 15px;
}
.no-padding {
	padding: 0px;
}
.bottom-padding {
	padding-bottom: 10px !important;
}

/** FOrm control overriding **/
.form-control {

}
.form-horizontal .form-group {
	margin-right: 0px;
	margin-left: 0px;
}

/* Grid view */
.grid-view > div,
.grid-view > ul {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0px;
}
.grid-view td:last-child a {
	padding-right: 10px;
}

/*** Checkbox css ***/

.custom-check {
  padding-top: 7px;
}
.custom-check input {
  display: none;
}
.custom-check label {
  height: 20px;
  line-height: 20px;
  padding: 0px 10px 0px 30px;
  position: relative;
  cursor: pointer;
  font-weight: normal;

  background-color: #e2e2e2;
  color: #888;
}
.custom-check input + label:before {
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  left: 10px;
  top: 0px;

  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  content: "\f00d";
  line-height: 20px;
}
.custom-check input:checked + label {
  background: #3c8dbc;
  color: #fff;
}
.custom-check input:checked + label:before {
  display: inline-block;
  content: "\f00c";
}


/** Map view **/
#vendor-map-container {
	position: relative;
	height: 400px;
}
#vendor-map-container input#vendor-position {
	position: absolute;
	width: 150px;
	height: 32px;
	z-index: 99999999999;
	left: 150px;
	top: 10px;
	padding: 0px 10px;
	border: 1px solid #dfdfdf;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

span.select2.select2-container.select2-container--default {
  width: 100% !important;
}
.select2-container .select2-selection--single {
  height: 32px;
}
.select2-container--default .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: #d2d6de;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.control-option {}

/** Form css horizontal css **/
#vendor-form {
  margin: 20px 10px;
}
#vendor-form .control-label {
  float: left;
  width: 30%;
  text-align: left;
}
#vendor-form .form-control,
#vendor-form .control-option {
  float: left;
  width: 70%;
}
#vendor-form .form-group:before,
#vendor-form .form-group:after {
  display: table;
  content: "";
}
#vendor-form .form-group:after {
  clear: both;
}
#vendor-form .form-group .help-block {
  margin-left: 30%;
}
#vendor-form .btn-primary {
  margin-left: 30%;
}


#venue-form .slider {
  width: 70% !important;
  margin-top: 10px;
  margin-bottom: 20px;
}
#venue-form .slider .slider-select-value {
  position: absolute;
  width: 100px;
  height: 20px;
  line-height: 20px;
  right: 0px;
  top: 20px;
  background: #fff;
  border: 1px solid #bbb;
}
#venue-form .bootstrap-touchspin input {
  width: 100%;
  float: none;
}
#venue-form .help-block {
  clear: both;
}

/** Vendor list **/
.admin-vendor-list {
  list-style: none;
  margin: 0px;
  padding: 10px;
}
.admin-vendor-list li {
  width: 85px;
  height: 85px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  background: #3C8DBC;
}
.admin-vendor-list li a {
  display: block;
}
.admin-vendor-list span {
  display: block;
}
.admin-vendor-list .vendor-icon {
  height: 60px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50px;
}
.admin-vendor-list .vendor-title {
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  text-align: center;
}
