a:hover, a:active {
  text-decoration: none;
}
ul {
  padding: 0px;
}
body {
  /*background: #e1e3e4;*/
  background: #fff;
  font-family: "opensanslight";
  font-size: 12px;
  color: #333333;
}
.navbar {
  margin: 0px;
}
.navbar-default {
  background: rgba(0, 0, 0, 0.6);
  border: none;
}
.navbar-fixed-bottom, .navbar-fixed-top {
  z-index: 999;
}
.page-inner {
  /*background: #f4f4f4;*/
}
.page-inner #content {
  padding-top: 0px;
}
.page-inner .navbar-default {
  background: #404040;
}
.page-inner .navbar-default {
  position: static;
}
/** common **/

.form-text {
  font-family: "OpenSansRegular";
  padding: 0px 10px;
}
.form-submit {
  background: #00aeaf;
  padding: 0px 10px;
  font-family: "OpenSansRegular";
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}

/** custom check **/

.custom-check {
  padding-top: 7px;
}
.custom-check input {
  display: none;
}
.custom-check label {
  height: 20px;
  line-height: 20px;
  padding: 0px 0px 0px 25px;
  position: relative;
  cursor: pointer;
  font-weight: normal;
  color: #000;
}
.custom-check input + label:before {
  width: 16px;
  height: 16px;
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 2px;

  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  content: " ";
  line-height: 14px;
  text-align: center;
  border: 1px solid #ddd;
}
.custom-check input:checked + label:before {
  display: inline-block;
  content: "\f00c";
}

/** Loader **/

#loader {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 999999;
}
#loader p {
  height: 3px;
  width: 50px;
  background: #00aeaf;
  animation: loaderanim 1s infinite ease;
  -webkit-animation: loaderanim 1s infinite ease;
  -moz-animation: loaderanim 1s infinite ease;
}
@keyframes loaderanim {
  0% {
    width: 0%;
  }
  100% {
    width: 100%
  }
}
